body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1381c5;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1,
h2 {
    margin-top: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 3% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 80px;
}

input,
select {
    display: block;
    width: 700px;
    margin-bottom: 25px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
    margin-left: 50px;
}

input[type="button"] {
    background-color: #10689fe6;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    font-family: sans-serif;
    width: 400px;
    margin-left: 200px;
}

input[type="submit"] {
    background-color: #1791dde7;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    font-family: sans-serif;
    width: 400px;
    margin-left: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 25px;
}
thead{
    margin-bottom: 20px;
}
th,
td {
    padding: 10px;
    text-align: center;
    border: 5px solid #5b9ec7;
    background-color: #5b9ec7;


}

td {
    color: #fff;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.listado a {
    text-decoration: none;
    color: #0d527d;
    font-size: 30px;
}


